{% extends "base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}

{% block content %}
<style>
label {
    color: #fff;
}

.form-row {
  display: flex;
  justify-content: center;
}

</style>
    <!-- ========= Affichage des Informations ========= -->
<h3 class="text-light text-center">Profile</h3>
    <div class="row my-3 p-3 f-center">
        <img class="rounded-circle account-img" src="{{ myprofile.avatar.url }}" alt="{{ myprofile.avatar.name }}"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">

                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                        <label class="small mb-1 mt-4">Email:</label>
                            {{ user_form.email }}
                        <label class="small mb-1 mt-4">Nom:</label>
                            {{ user_form.first_name }}
                        <label class="small mb-1 mt-4">Prénom:</label>
                            {{ user_form.last_name }}
                    </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <hr>
                        <label class="small mb-1 mt-4">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1 mt-4">Bio:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}