{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="box">
        <div class="infobox">
            <p class="infobox-boldtext">
                SafePass, la confidentialitée avant tout !!
            </p>
            <p class="infobox-slimtext">
                SafePass élimine les obstacles pour vous permettre de revenir à ce que vous aimez le plus.
            </p>
            <div class="infobox-btnwrapper">
                <button class="infobox-explorebtn selected">Explore</button>
                <button class="infobox-createbtn">Create</button>
            </div>
        </div>
    </div>

    <div class="started">
        <p class="started-boldtext">Serein, où que vous soyez</p>
        <p class="started-slimtext">Eu, molestie commodo, enim pellentesque turpis integer sagittis</p>
        <div class="started-items">
            <div class="itemwrapper">
                <div class="started-items-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                    </svg>
                </div>
                <p>Générez des mots de passe fort</p>
            </div>
            <div class="itemwrapper">
                <div class="started-items-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                    </svg>
                </div>
                <p>Stockez les en sureté</p>
            </div>
            <div class="itemwrapper">
                <div class="started-items-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="px" viewBox="0 0 36 31">
                    </svg>
                </div>
                <p>Remplissage automatique des champs de formulaire connus</p>
            </div>
            <div class="itemwrapper">
                <div class="started-items-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                    </svg>
                </div>
                <p>Lectus volutpat magna vitae in arcu</p>
            </div>
        </div>
    </div>
{% endblock %}